<div class="main" style="display: flex; justify-content: center;">
    <div class="form">
        <mat-card>
            <mat-card-header class="header">
                    <mat-card-title>Dr Paw Clinic</mat-card-title>
                    <img mat-card-image src="../../../assets/icon/logo.jpg" alt="" class="logo-img">
            </mat-card-header>
            <mat-divider style="margin-left: 15px; margin-right: 15px; margin-bottom: 20px;"></mat-divider>
            <mat-card-content>
                <div class="fields">
                    <h2 class="field" style="margin-right: 10px;">Date: </h2>
                    <h2 class="field-input">21/11/2022</h2>
                </div>
                <div class="fields">    
                    <h2 class="field" style="margin-right: 10px;">Doctor Name: </h2>
                    <h2 class="field-input">Dr.Jack Philip</h2>
                </div>
                <div class="fields">
                    <h2 class="field" style="margin-right: 10px;">Payment: </h2>
                    <h2 class="field-input">Rs.1250.00</h2>
                </div>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content:flex-end; margin-right: 10px;">
                <button mat-raised-button color="primary" class="btn">Confirm</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>